/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.idea/*
app/Http/Controllers/PreciselyController.php
composer.json
composer.lock
resources/views/pages/filter.blade.php
database/migrations/2020_02_21_152514_rollback.php
database/migrations/2020_02_21_161432_migrate.php
.env.*
