body {
	font-family: Montserrat, sans-serif;
	background-color: #fff;
}
.dashboard{
	min-height: 100vh;
	margin-top: 80px;
}
.dashboard h2{
	
}
.card{
  margin: 45px 70px 20px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 30px;
  min-height: 450px;
}
.card .header{
  margin: 10px 0px 0px 0px;
}
.card .save{
  margin: 5px;
  padding: 5px;
  float: right;
}
.card .save a{
  font-size: 25pt;
  color: #5b3495;
}
.dashboard hr{
	border-width: 2px;
	border-color:#5b3495;
	margin-bottom:20px;
}
.dashboard .list-group .active{
	background: #5b3495;
	border-color: #5b3495;
}
.dashboard .list-group {
	box-shadow: 2px 2px 25px 2px rgba(0,0,0,0.2);
}
.apply-btn {
  color: #fff;
  border-radius: 25px;
  background-color: #5b3495;
  text-decoration: none;
}
a.apply-btn:hover{
  color: #fff;
  font-weight: 500;
}
a.share-btn:hover{
  color: #5b3495;
  font-weight: 500;
}
.share-btn {
  color: #5b3495;
  border-color: #5b3495;
  border-width: 1px;
  border-radius: 25px;
  background-color: #fff;
  text-decoration: none;
}
.material_card-stack {
  	width: 100%;
  	height: 500px;
  	margin: 20px auto;
}
.material_card-stack .material_buttons {
    position: absolute;
  	width: 35px;
  	height: 35px;
  	right: 0;
  	top: 40%;
  	color: rgba(0, 0, 0, 0.7);
  	text-align: center;
  	line-height: 35px;
  	text-decoration: none;
  	font-size: 22px;
  	z-index: 100;
  	outline: none;
  	transition: all 0.2s ease;
    margin-bottom: 10px;
}
.material_card-stack .material_prev {
  	left: auto;
    right: 15px;
    top:35%;
    margin-bottom:20px;
    border: none;
    background: none;
}
.material_card-stack .material_next {
  	left: auto;
  	right: 15px;
    top:45%;
    margin-bottom:20px;
    border: none;
    background: none;
}
#next{
  cursor:pointer;
}
#prev{
  cursor:pointer;
}
.material_card-stack .carousel .material_buttons:hover {
  	color: #C01313 ;
  	background: #fff;
}
.material_card-stack .material_card-list {
  	width: 100%;
}
.material_card-stack .material_card-list .card img{
  border-radius: 5%;
}
.material_card-stack .material_card-list .card .title{
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
.material_card-stack .material_card-list .card p{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: justify; 
  overflow: hidden;
  max-height: 80px;
}

.material_card-stack:hover > .material_buttons.material_prev {
  	
}
.material_card-stack:hover > .material_buttons.material_next {
  	
}

.smaller-font-button {
    font-size: 0.75rem;
}
