body{
	font-family: Montserrat, sans-serif;
	background-color: #fff;
}
.filter{
	min-height: 100vh;
}
.filter h2{
	margin-top: 80px;
}
.filter .title{
	color: #6c757d;
}
.filter .content{
	
}
.filter .content .tag{
	display: inline-block;
	margin: 10px;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
	background-color: #fff;
	text-decoration: none;
}
.filter .content .tag .text{
	color:#fff;
	padding: 5px;
    font-size: 9pt;
    position: relative;
    bottom: 0px;
    right: 0px;
}
#tag1{
	background: url('../images/conference.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag2{
	background: url('../images/competition.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag3{
	background: url('../images/scholarship.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag4{
	background: url('../images/award.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag5{
	background: url('../images/internship.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag6{
	background: url('../images/admission.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag7{
	background: url('../images/school.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag8{
	background: url('../images/fellowship.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag9{
	background: url('../images/grant.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag10{
	background: url('../images/workshop.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#tag11{
	background: url('../images/contest.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#qua1{
	background: url('../images/post graduation.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#qua2{
	background: url('../images/graduation.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#qua3{
	background: url('../images/masters.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#qua4{
	background: url('../images/bachelors.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#qua5{
	background: url('../images/school.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#dis1{
	background: url('../images/engineering.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#dis2{
	background: url('../images/medicine.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#dis3{
	background: url('../images/management.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#dis4{
	background: url('../images/humanities.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#dis5{
	background: url('../images/science.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.filter .content .overlay{
	height: inherit;
	width: inherit;
	border-radius: 10px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
}
.filter .content .overlay-selected{
	height: inherit;
	width: inherit;
	border-radius: 10px;
	z-index: 10;
	background: rgba(91, 52, 149, 0.7);
}
/*.filter .content .fa-check{
	font-size: 15pt;
	color:#fff;
}*/
.filter .button .btn-save{
	color: #fff;
	border-radius: 25px;
	background-color: #5b3495;
	margin: 5px;
	margin: 10px 0px 30px 0px;
}
