body {
	font-family: Montserrat, sans-serif;
	background-color: #fff;
}
.opportunity{
	min-height: 100vh;
}
.opportunity h2{
	margin-top: 80px;
}
.card{
	margin: 30px 0px 20px 0px;
	border-radius: 5px;
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
	background-color: #fff;
	padding-bottom: 30px;
}
#header{
	height: 200px;
	position: relative;
	border-radius: 5px 5px 0px 0px;
}
.overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
.overlay .text{
	margin: 10px;
	position: absolute;
	color:#fff;
	font-size: 25pt;
	bottom: 0px;
}
.card .content .deadline{
	margin: 10px;
	padding: 10px;
	font-size: 15pt;
	color: #6c757d;
	font-weight: 600;
}
.card .content .save{
	margin: 5px 15px 5px 5px;
	padding: 5px;
}
.card .content .save a{
	font-size: 25pt;
	color: #5b3495;
}
.card .content .description{
	margin: 10px;
	padding: 10px;
	font-size: 12pt;	
	text-align: justify;
  	text-justify: inter-word;
}
.card .apply-btn {
	color: #fff;
	border-radius: 25px;
	background-color: #5b3495;
	text-decoration: none;
}
.card .share-btn {
	color: #5b3495;
	border-color: #5b3495;
	border-width: 1px;
	border-radius: 25px;
	background-color: #fff;
	text-decoration: none;
}
.back-btn{
	color:#000;
	text-decoration: none;
}